
<% provide(:title, t(".about")) %>
<h1><%= t(".about")%></h1>
<p>
  <%= t(".content",
    title: link_to(t(".title"), "http://www.railstutorial.org/"),
    book: link_to(t(".book"), "http://www.railstutorial.org/book"),
    screen: link_to(t(".screen"), "http://screencasts.railstutorial.org/"),
    ruby: link_to(t(".ruby"), "http://rubyonrails.org/")).html_safe %>
</p>
<%= link_to t(".home"), root_path, class: "btn btn-default" %>
<%= link_to t(".help"), help_path, class: "btn btn-default" %>
<%= link_to t(".contact"), contact_path, class: "btn btn-default" %>
